//main {
//  position: relative;
//  height: 100%;
//  width: 100%;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//}
//video {
//  position: absolute;
//  top: 50%;
//  left: 50%;
//  width: 100%;
//  height: 100%;
//  object-fit: cover;
//  transform: translate(-50%, -50%);
//  z-index: -1; /* Assure que la vidéo est en arrière-plan */
//}
